CRMREBS_API_KEY=your_api_key_here
CRMREBS_BASE_URL=https://imobicom-srl.crmrebs.com/api/public
NEXT_PUBLIC_SITE_NAME=Imobicom SRL
NEXT_PUBLIC_SITE_PHONE=+40 742 994 942
NEXT_PUBLIC_SITE_EMAIL=contact@imobicom.ro
